#include "contrib/LivePP/API/LPP_API_x64_CPP.h"

int main(int argc, char** argv)
{
    lpp::LppDefaultAgent lppAgent = lpp::LppCreateDefaultAgent(L"{{src_dir}}/contrib/LivePP");
    if (!lpp::LppIsValidDefaultAgent(&lppAgent)) {
        return 1;
    }

    lppAgent.EnableModule(lpp::LppGetCurrentModulePath(), lpp::LPP_MODULES_OPTION_ALL_IMPORT_MODULES);

    lpp::LppDestroyDefaultAgent(&lppAgent);

    return 0;
}
